<div class="top">
    <div class="left-icons">
        <i class="bi bi-camera"></i>
    </div>
    <div class="center-text">
        HOME
    </div>
    <div class="right-icons">
        <i class="bi bi-tv"></i>
        <i class="bi bi-send"></i>
    </div>
</div>
<div class="friends">
    <div class="friend">
        <div class="img-wrap icon-wrap">
            <i class="bi bi-plus-circle"></i>
        </div>
    </div>
    <div class="friend">
        <div class="img-wrap">
            <img src="/assets/u1.jpg" />
        </div>
        <div class="friend-name">
            Your
        </div>
    </div>
    <div class="friend">
        <div class="img-wrap">
            <img src="/assets/u1.jpg" />
        </div>
        <div class="friend-name">
            Your
        </div>
    </div>
    <div class="friend">
        <div class="img-wrap">
            <img src="/assets/u1.jpg" />
        </div>
        <div class="friend-name">
            Your
        </div>
    </div>
    <div class="friend">
        <div class="img-wrap">
            <img src="/assets/u1.jpg" />
        </div>
        <div class="friend-name">
            Your
        </div>
    </div>
    <div class="friend">
        <div class="img-wrap">
            <img src="/assets/u1.jpg" />
        </div>
        <div class="friend-name">
            Your
        </div>
    </div>
</div>

<app-post [post]="post" *ngFor="let post of posts"></app-post>

<div class="footer">

</div>